<div class="text-center">
  <div class="container">
    <div class="make-it-green box col-10">
      <%= link_to "Start a new game", new_game_path, class: 'btn btn-primary make-it-green' %>
      <br /><br />
      <h3>Pick a chess match to join</h3>
      <%= react_component("GamesList") %>
    </div>
  </div>
</div>
