<div class="in-game-lobby-link">
  <%= link_to 'End match and return to game lobby', game_path(@game), method: :delete, class: 'btn btn-primary make-it-green' %>
  <br /><br />
</div>

<% player = "player_1" %>
<% if @game.user != current_user %>
  <% player = "player_2" %>
<% end %>

<div class="container game box">
  <%= react_component("Game", {id: @game.id, player: player}) %>
</div>
