<%= link_to 'Return to homepage', root_path %>
<br />
<%= link_to "Start a new game", new_game_path %>
<br /><br />

<h3>Pick a chess match to join</h3>

<% @game.each do |game| %>
  <% if !game.player_1.length.zero? && game.player_2.length.zero? %> 
    <%= link_to "Hosted by " + game.user.email,  edit_game_path(game)%>
    <br />
  <% end %>
  <br/>
<% end %>
