@import "bootstrap";
@import "font-awesome";

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.letter-column-square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.letter-row{
  margin-left: 28px;
}

.number-column-square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 29px;
}

.letters{
  margin-top: -15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.winner-statement {
  background: #00C122;
  height: 120px;
  width: 600px;
}

.navbar {
  height: 100px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 82, 83, 0.9);
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 70px;
  background-color: rgba(24, 21, 22, 0.9);
  padding: 10px 0px;
  margin-top: 30px;
}

#footer a {
  color: #00C122;
  font-weight: 100;
}

.header-color {
  background-color: rgba(24, 21, 22, 0.9);
}

.resume{
  margin-left: 20px;
}

.linkedin{
  margin-left: 20px;
}

.homepage_link a {
  font-size: 24px;
  color: #00C122;
}

.make-it-green {
  color: #00C122;
}
