@import "bootstrap";
@import "font-awesome";

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 90px;
  width: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.letter-column-square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 30px;
  width: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  background-color: rgba(24, 21, 22, 0.9);
  border-color: #00C122;
}

.letter-row{
  margin-left: 28px;
}

.number-column-square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 90px;
  width: 29px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  background-color:rgba(24, 21, 22, 0.9);
  border-color: #00C122;
}

.letters{
  margin-top: -15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.winner-statement {
  background: #00C122;
  height: 120px;
  width: 600px;
}

.navbar {
  height: 60px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 82, 83, 0.9);
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 70px;
  background-color: rgba(24, 21, 22, 0.9);
  padding: 10px 0px;
  margin-top: 30px;
}

#footer a {
  color: #00C122;
  font-weight: 100;
}

.header-color {
  background-color: rgba(24, 21, 22, 0.9);
}

.resume{
  margin-left: 20px;
}

.linkedin{
  margin-left: 20px;
}

.homepage_link a {
  font-size: 24px;
  color: #00C122;
}

.make-it-green {
  color: #00C122;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  -webkit-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  background: rgb(41, 38, 38);
  padding: 10px;
}

.are-you-sure-box {
  -moz-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  -webkit-box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  box-shadow: 1px 1px 2px 0 rgb(41, 38, 38);
  background: rgb(41, 38, 38);
  padding: 50px;
}

.container{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.game-links a {
  font-size: 25px;
  color: #00C122;
}

.game {
  color: #00C122;
}

.piece {
  font-size: 60px;
}

.make-it-dark {
  background-color: rgb(41, 38, 38); 
}
